<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" class="no-js {% block html_class %}{% endblock %}">
    <head>

        <!-- META -->
        <meta charset="UTF-8" />
        <!-- TYPE -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <!-- STYLES -->

        <title>{% block page_title %}{% endblock %}</title>

    </head>

    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>

    <!-- Libraries -->
    <script type="text/javascript" src={% static 'todo/scripts/lib/jquery.min.js' %}></script>
    <script type="text/javascript" src={% static 'todo/scripts/lib/underscore-min.js' %}></script>
    <script type="text/javascript" src={% static 'todo/scripts/lib/backbone-min.js' %}></script>
    <script type="text/javascript" src={% static 'todo/scripts/lib/backbone.localStorage-min.js' %}></script>
    <script type="text/javascript" src={% static 'todo/scripts/app.js' %}></script>

</html>
